body{
    background-image: url("img.png");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
     /* text-align: center; */
} 
.container {

    position: relative;
  
    height: 150px;
  
    
  
  }
  
  .container {
  
    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%, -50%);
  
    margin: 0;
  
  }